
.logo--img {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}
.logo--img > img {
    width : fit-content;
    height: fit-content;
    cursor: pointer;
}

/* Main Component  */
.component {
    display : flex;
    flex-direction : column;
    padding : 1rem 1rem;
    align-items: center;
    text-align : center;
    gap: 1rem;
    margin: 1.5rem;
}
.svg--wrapper {
    padding : 0 1rem;
}
.svg--wrapper > img {
    width : 350px;
    height: 300px;
    object-fit: contain;
}

.text--wrapper {
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading {
    margin-top : 5px;
    font-size : 2rem;
    color : white;
    width : 90vw;
}

.description {
    font-size : 1rem;
    color: white;
    width : 80vw;
    line-height : 1.5;
}

.btn > button {
    outline : none;
    border : none;
    padding : 10px 5rem;
    border-radius : 30px;
    font-size : 1.2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    font-weight: bold;
}
.btn > button:hover {
    background:hsl(300, 69%, 71%);
    color: white;
}


/* Footer  */
.footer {
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 1rem;
}
.footer > .brand--logo {
    border : 1px solid white;
    border-radius : 50%;
    padding : 7px 9px;
    cursor : pointer;
    color: white;
    transition : all 300ms ease-in-out;
    display: flex;
    align-items : center;
}
.footer > .brand--logo:hover {
    border-color : rgb(250, 100, 225);
    color : rgb(236, 95, 201);
}
.brand--logo > i {
    font-size : 1.3rem;
    align-self: center;
}

@media screen and (min-width : 1500px) {
    .component {
        flex-direction: row;
        margin-top : 10rem;
        gap : 1rem;
    }
    .svg--wrapper {
        float: right;
        flex-basis: 100%;
    }
    .svg--wrapper > img {
        width : 860px;
        height : 600px;
        object-fit: cover;
    }

    .text--wrapper {
        padding : 1rem 4rem;
        float: left;
        text-align : left;
        justify-content: initial;
        align-items: initial;
        flex-basis : 100%;
        height: fit-content;
    }

    .heading {
        width : 30vw;
    }

   .description {
        width : 40vw;
        font-size : 1.5rem;
    }
   .btn > button:hover {
       background: hsl(300, 69%, 71%);
       color : white;
       font-weight: bold;
   } 

   .footer {
       position: absolute;
       bottom : 2rem;
       right: 6rem; 
   }

   .footer > .brand--logo {
       border : 3px solid white;
   }
   .brand--logo > i {
       font-weight : 600;
   }
}