* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin : 0;
}
.container {
    min-height : 100vh;
    background-image : url('./Components/images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color : hsl(257, 40%, 49%);
}

@media screen and (min-width : 1400px) {
    .container {
        background-image: url('./Components/images/bg-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color : hsl(257, 40%, 49%);
    }
}
